.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #001C30;
    outline: 3px #176B87 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    color: white;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button svg path {
    transition: 400ms;
}

.button:hover {
    background-color: transparent;
    color: black;
}

.button:hover .text {
    color: #181717;
}

.button:hover svg path {
    fill: #181717;
}

/* -------------INPUT------------- */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #001C30;
    border-radius: 30px;
    /* margin-left: 35rem; */
}

.news-input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.news-input:hover,
.news-input:focus {
    box-shadow: 0 0 1em #00000013;
}

.news-input:focus {
    outline: none;
    background-color: #f0eeee;
}

.news-input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.news-input:focus+.search__button {
    background-color: #f0eeee;
}




.search__button {
    border: none;
    background-color: #f4f2f2;
    color: #001C30;
    margin-top: .1em;

    margin-right: 10px;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #001C30;
}